[run]
branch = True
source = django_project

[report]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    manage.py
    */settings.py
    */wsgi.py
    */asgi.py
    */urls.py
    */admin.py
show_missing = True

[html]
directory = htmlcov

[paths]
source = django_project
