:root {
    --height-header: 6rem;
    --height-footer: 8rem;
    /* COLOR PALETTE */
    --color-border: hsl(0, 0%, 50%);
    --border-radius: 5px;
    --value0: hsl(0, 0%, 0%);
    --value1: hsl(0, 0%, 11%);
    --value2: hsl(0, 0%, 22%);
    --value3: hsl(0, 0%, 33%);
    --value4: hsl(0, 0%, 44%);
    --value5: hsl(0, 0%, 55%);
    --value6: hsl(0, 0%, 66%);
    --value7: hsl(0, 0%, 77%);
    --value8: hsl(0, 0%, 88%);
    --value9: hsl(0, 0%, 100%);
    --text: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: var(--value5);
    height: var(--height-header);
    flex-shrink: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--value8);
    color: var(--value3);
    height: var(--height-footer);
    flex-shrink: 0;
}

main {
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
    background-color: var(--value7);
    padding: .5rem;
}

main>section {
    width: 100%;
    min-height: 10rem;
    align-items: center;
    justify-content: center;
}