name: Hello

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: push repo via scp
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          source: "."
          target: ${{ secrets.APP_DIRECTORY }}
      - name: build frontend via ssh
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: | 
            cd ${{secrets.APP_DIRECTORY}}/frontend
            npm run build
      - name: perform backend activities
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: | 
            cd ${{secrets.APP_DIRECTORY}}/backend
            source .venv/bin/activate
            python manage.py migrate
            python manage.py collectstatic --noinput
            sudo -S ${{secrets.SUDO_PASSWORD}} supervisorctl restart pictures
            sudo -S ${{secrets.SUDO_PASSWORD}} systemctl reload nginx
            